{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <div id="corpo_home">
        <header id="header_home" class="mt-4">
            <h1 class="success-title h1_home">Cadastro realizado com sucesso!</h1>
            <h2>Bem-vindo, {{ obj.nome }}</h2>
            <p>Email: {{ obj.email }}</p>
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Sair</a>
        </header>
    </div>
{% endblock %}